pipeline/IngestDiscloseData.json
{
	"name": "IngestDiscloseData",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_offer_list_for_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop through Offers",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy disclose offers",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "@{concat('Authorization: Bearer ','7074d707c32a48b57e9e5f9b5897072d')}",
											"type": "Expression"
										},
										"requestBody": {
											"value": "@{concat(\n'<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:get=\"http://data.business.govt.nz/services/FMCR/DisclosePublic/GetOfferPublic\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <get:GetOfferPublic>\n         <get:SchemaVersion>2.0</get:SchemaVersion>\n         <get:Request>\n            <get:OfferNumber>',item().offer_number,'</get:OfferNumber>\n         </get:Request>\n      </get:GetOfferPublic>\n   </soapenv:Body>\n</soapenv:Envelope>'\n\n\n\n)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_disclose",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_disclose_offers_parquet",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().offer_number",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}